#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
data/
cfg/
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt
*.json
maps/backup/Z.03.USS_Almayer.dmm
maps/backup/backup/Z.03.USS_Almayer.dmm
